section.section-md.bg-gray-lighter.text-center#services
  .container
    h4.heading-decorated Our Services
    .row.row-50.justify-content-md-center.justify-content-lg-start.text-left
      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-pencil-ruler
          .unit-body
            p.blurb__title.heading-6: a(href="#") Bootstrap Framework
            p Aurona is based on Bootstrap Framework, which makes it a nice template for any purpose.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-users
          .unit-body
            p.blurb__title.heading-6: a(href="#") Novi Builder
            p Use our Novi Builder to customize and update your website within seconds after the template installation.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-wall
          .unit-body
            p.blurb__title.heading-6: a(href="#") Responsive & Retina Ready
            p Aurona looks great on any screen resolution and on any device due to its responsiveness.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-apartment
          .unit-body
            p.blurb__title.heading-6: a(href="#") Tons of Tools for Real Needs
            p Event calendar, bookings and schedule are just some tools that come on board with this template.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-home4
          .unit-body
            p.blurb__title.heading-6: a(href="#") Multiple layouts
            p Huge number of content layouts available at zemez.io allows to assemble unique pages with great flexibility.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-pencil-ruler2
          .unit-body
            p.blurb__title.heading-6: a(href="#") Clean and Crispy Design
            p Aurona is crafted by top industry leaders with love, care and customer needs in mind.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-magic-wand
          .unit-body
            p.blurb__title.heading-6: a(href="#") Built For Speed
            p Aurona is built for speed and performance. Get the best results at GTmetrix and Google PageSpeed.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-menu3
          .unit-body
            p.blurb__title.heading-6: a(href="#") Flexible and Multipurpose
            p Aurona allows to create various websites for complex and scalable projects.

      .col-md-6.col-lg-4
        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-users2
          .unit-body
            p.blurb__title.heading-6: a(href="#") SEO Friendly
            p Valid code and performance optimized framework make SEO easy and hassle-free.