section.section.section-md.bg-gray-dark.section-cta
  .container
    .row.row-30.align-items-center.justify-content-center.justify-content-xl-between
      .col-lg-7.col-xl-10.text-center.text-xl-left
        h4
          span.font-weight-bold='Aurona '
          | #[br.d-xxl-none]
          span.font-weight-normal is a perfect web design solution for everybody
        p Become the owner of the best solution for creating your own website!
      .col-xl-2.text-center
        a(href="#").button.button-primary Get it now