section.section-md.bg-gray-lighter.text-center
	.container
		h4.heading-decorated Our working process
		.row.row-30.justify-content-center.offset-top-2
			.col-sm-10.col-lg-6
				+jpg('home-var-2-650x495')

			.col-sm-10.col-lg-6
				// Blurb circle
				article.blurb.blurb-circle: .unit.flex-row.unit-spacing-md.wow.fadeInRight( data-wow-delay='0.1s' )
					.unit-left
						.blurb-circle__icon: span.icon.linearicons-feather
					.unit-body
						p.blurb__title.heading-6 Design creation
						p Firstly, our designers create the concept of a template, which can be changed and modified.

				// Blurb circle
				article.blurb.blurb-circle: .unit.flex-row.unit-spacing-md.wow.fadeInRight( data-wow-delay='0.2s' )
					.unit-left
						.blurb-circle__icon: span.icon.linearicons-menu3
					.unit-body
						p.blurb__title.heading-6 Development
						p Then our developers begin to work on implementing the template’s final look and features.

				// Blurb circle
				article.blurb.blurb-circle: .unit.flex-row.unit-spacing-md.wow.fadeInRight( data-wow-delay='0.3s' )
					.unit-left
						.blurb-circle__icon: span.icon.linearicons-bag2
					.unit-body
						p.blurb__title.heading-6 Testing
						p Finally, our QA experts make sure that everything works perfectly just as you would expect.