-
  var
  brandName = 'Aurona',
  logoDefault = 'logo-108x37',
  logoInvert = 'logo-invert-108x37',
  logoDefaultRetina = 'images/logo-216x74.png 2x',
  logoInvertRetina = 'images/logo-invert-216x74.png 2x',
  getTemplateLink = 'https://www.templatemonster.com/website-templates/quaint-flexible-multipage-html-website-template-67041.html',
  includeLayoutPanel = true,  
  projectCategory = 'project-category.html',
  singleProject = 'single-project.html',
  singleService = 'single-service.html',
  postLink = 'standard-post.html',
  postSlider = 'gallery-post.html', 
  postVideo = 'video-post.html',
  blogPostLink = 'link-post.html',
  postQuote = 'quote-post.html', 
  postAudio = 'audio-post.html',
  postImage = 'image-post.html',
  videoSrc = '//www.youtube.com/embed/-AhmuMqZB0s',
  seeFeaturesLink = 'features',
  teamMember = 'team-member-profile.html',
  menu = [
    {
      title: 'Home',
      subtitle: 'Browse',
      link: '#home'
    },
    {
      title: 'About us',
      subtitle: 'Browse',
      link: '#about'
    },
    {
      title: 'Portfolio',
      subtitle: 'Browse',
      link: '#portfolio'
    },
    {
      title: 'Services',
      subtitle: 'Browse',
      link: '#services'
    },
    {
      title: 'Pricing',
      subtitle: 'Browse',
      link: '#pricing'
    },
    {
      title: 'Clients',
      subtitle: 'Browse',
      link: '#clients'
    },
    {
      title: 'Blog',
      subtitle: 'Browse',
      link: '#blog'
    },
    {
      title: 'Contacts',
      subtitle: 'Browse',
      link: '#contacts'
    }
  ]
