section.section-md.bg-default
  .container
    .row.justify-content-md-center.flex-lg-row-reverse.align-items-lg-center.justify-content-lg-between.row-50
      .col-md-9.col-lg-6
        h3.heading-decorated Consistency is the Key
        p At Aurona, consistency is a key factor in web design for both visual elements and functionality. It ensures that your website looks coherent and works harmoniously across all its different elements, such as headers, footers, sidebars, and navigation bars. It also gives your users a positive experience.

      .col-md-9.col-lg-5
        +jpg('home-variant-7-464x464')