section.section-md.bg-gray-lighter
  .container
    .row.justify-content-md-center.flex-lg-row-reverse.align-items-lg-center.justify-content-lg-between.row-50
      .col-md-9.col-lg-6
        h4.heading-decorated Why Choose Aurona

        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md.wow.fadeIn( data-wow-delay='0.1s' )
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-rocket
          .unit-body
            p.blurb__title.heading-6: a(href="#") Made for People
            p Aurona is built for real users that enjoy easy website development.

        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md.wow.fadeIn( data-wow-delay='0.2s' )
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-equalizer
          .unit-body
            p.blurb__title.heading-6: a(href="#") Advanced UI Kit
            p Aurona comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.

        // Blurb minimal
        article.blurb.blurb-minimal: .unit.flex-row.unit-spacing-md.wow.fadeIn( data-wow-delay='0.3s' )
          .unit-left
            .blurb-minimal__icon: span.icon.linearicons-arrow-down-square
          .unit-body
            p.blurb__title.heading-6: a(href="#") Responsive & Retina Ready
            p Aurona looks great on any screen resolution and on any device due to its responsiveness.

      .col-md-7.col-lg-5
        figure.image-sizing-1
          +jpg('blog-image-1-886x668')