section.section-md.bg-default.text-center
	.container
		.row.justify-content-lg-center
			.col-lg-10.col-xl-8
				h3.heading-decorated
					| Multiple Themes &
					br
					| a Variety of Features
				p Aurona is a multipurpose template optimized for various niches of business. Besides neutral classic websites you can create restaurant, hotel, sport gym website and much much more. There is also a variety of useful features that are included with this template.
		.row.row-50
			.col-md-6.col-xl-4
				+thumbnail-classic({
					img: 'portfolio-1-418x315',
					title: 'Bootstrap Framework',
					text: 'Aurona is based on Bootstrap Framework, which makes it a nice template for any purpose.'
				})
			.col-md-6.col-xl-4
				+thumbnail-classic({
					img: 'portfolio-2-418x315',
					title: 'Novi Builder',
					text: 'Use our Novi Builder to customize and update your website within board with this template.'
				})
			.col-md-6.col-xl-4
				+thumbnail-classic({
					img: 'portfolio-3-418x315',
					title: 'Responsive & Retina Ready',
					text: 'Aurona looks great on any screen resolution and on any device due to its responsiveness.'
				})