section.text-center.section-xxl.fullwidth-page.fullwidth-page_mod-1.bg-accent-gradient.particles-js-wrap.context-dark
  #particles-js
  .container
    h2 #1 Web Design Choice
    h5.text-width-2.block-centered Make your website a lot more attractive for your regular and potential customers with Aurona.
    .group-lg.group-middle
      a.button.button-black(href="https://www.templatemonster.com/landing-page-template/aurona-business-responsive-html-landing-page-template-68859.html" target="_blank") Buy template
